<div class="field row">
    <div class="span2">{{field.title}}:</div>
    <div class="span4">
        <div ng-repeat="option in field.options" class="row-fluid">
            <label>
                <input type="radio" value="{{option.value}}" ng-model="field.value"  ng-required="field.required"/>
                &nbsp;<span ng-bind="option.title"></span>
            </label>
        </div>
        <span class="required-error" ng-show="field.required && !field.value">* required</span>
    </div>
</div>
<br>